body {
    margin:0;
    padding:0;
    height:100%;
}
#container {
    min-height:100%;
    position:relative;
}

#body {
    padding-bottom:60px;   /* Height of the footer */
}
#footer {
    position:relative;
    bottom:0;
    width:100%;
    height:120px;   /* Height of the footer */
    background: #ffa2dc;
    display:flex;
}

#bigBannerDiv{
    margin: 0 auto;
    padding: 0px 20px;
}

#logo, #searchBar, #resultDisplay{
    margin: 0 auto;
    width: 50%;
}

h1.search{
    font-family: 'Chewy', cursive;
    padding: 0px;
    color: #ffffff;
}


.search {
    background-color: #ff248a;
    margin: 0px;
    padding: 30px;
    color: #ffffff;
    text-align: center;
}


#searchBox{
    margin: 0 auto;
    padding: 10px;
    width: 50%;
}

#searchBar{
    font-size: 30px;
    border-radius: 32px;
    height: 60px;
    width: 90%;
    border: 3px solid #ffffff;
    box-shadow: 0;
    text-align: center;
}

a.search{
 float: right;
    padding: 0px;
}

/* unvisited link */
a.search:link {
    color: #ffffff;
}

/* visited link */
a.search:visited {
    color: #ffffff;
}

/* mouse over link */
a.search:hover {
    color: #000000;
}

/* selected link */
a.search:active {
    color: #000000;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.column{
    flex:1;
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    color: #ff248a;

}

.column-one{
    order:1;
}
.column-two {
    order: 2;
}
.column-three {
    order: 3;
}


/* unvisited link */
a.footer-link:link, a.col-two:link {
    color: #ff248a;
    text-decoration: none;
}

/* visited link */
a.footer-link:visited, a.col-two:visited {
    color: #ff248a;
    text-decoration: none;
}

/* mouse over link */
a.footer-link:hover, a.col-two:hover {
    color: #000000;
    text-decoration: none;
}

/* selected link */
a.footer-link:active, a.col-two:active {
    color: #000000;
    text-decoration: none;
}

.topMenu{
    background-color: #ff248a;
    top: 0;
    width: 100%;
    height: 100px;
}

.header{
    position: absolute;
    display:inline;
}

#logo{
    top:0px;
    left:0px;
    padding: 20px 20px;
}

#searchSmall{
    top:0px;
    right:0px;
    padding: 25px 20px;
    width: 40%;
}

#searchBoxSmall{
   float:right;
}

#searchBarSmall{
    font-size: 18px;
    border-radius: 32px;
    height: 50px;
    width: 350px;
    border: 3px solid #ffffff;
    box-shadow: 0;
    text-align: left;
}

.result{
    top:100px;
    padding: 30px 0px;
    width: 100%;
    display:block;
}

#image{
    margin: 0 auto;
    width: 70%;
    height: 200px;
}

body{
    display:block;
}

.result h2{ 
    position: relative; width: 80%;
    top: 18px;
    left: 10px;
    font-family: 'Chewy', cursive;
    color: #ff248a;
    font-size: 60px;
}

.price {
    display: block;
}

#price-display{
    margin: 0 auto;
    width: 70%;
}

.col-two{
    padding: 0 1%;
    float: right;
    font-family: 'Montserrat', sans-serif;
    color: #ff248a;
}

td{
    height: 60px;
}

table {display: table;}
table th td{
    padding: 0 10px;
}

tbody, tr{
    width: 100%;
}
.price-sek{
    font-family:  'Montserrat', sans-serif;
    font-size: 40px;
    color: #ff248a;
    padding: 0 4px;
    text-align: center;
}

th{
    font-family:  'Chewy', cursive;
    font-size: 40px;
    color: #ff248a;
    text-align: center;

}